

<h2>Add a Game</h2>
<form method="post" action="/profile/add-game">
    <section>
        <label for="Game">Game:</label>
        <input name="game" type="text">
    </section>
    <section>
        <label for="Characters">3 Favorite Characters:</label>
        <input name="char1" type="text">
        <input name="char2" type="text">
        <input name="char3" type="text">
    </section>
    <section>
        <label for="Hours Played">Hours Played:</label>
        <input name="hoursplayed" type="text">
        <label for="Rank">Rank:</label>
        <input name="rank" type="text">
    </section>
    <input class="submitbtn" type="submit" value="Submit">
</form>