<h1>Add things to account feature</h1>
<h4>Jesse Holwarda</h4>

<p>Met deze feature kan je de games die je speelt toevoegen aan een account en wat informatie meegeven over hoe je die game speelt. Het account kan geopent worden als account eigenaar of bezoeker.</p>

<a href="profile">Open profiel als eigenaar</a>
<a href="viewprofile">Open profiel als bezoeker</a>